body {
    background-color: gray;
}

h1 {
    text-align: center;
    margin: auto;
    font-family: Garamond;
    font-size: 7em;
    color: black;
}

h5 {
    text-align: center;
    margin: auto;
    font-family: Garamond;
    color: black; 
}

input {
    text-align: center;
    margin: auto;
    display: block;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 2em;
    color: black;
    border-radius: 2em;
}

footer {
    width: 100%;
    position: fixed; 
    bottom: 0px; 
}

.cell {
    float: left;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    background-color: grey;;
    font-size: 6em;
    text-transform: uppercase;
}

.row {
    clear: both;
}

.lt, .mt, .rt, .lc, .mc, .rc {border-bottom: .1em solid black;}
.mt, .mc, .mb, .rt, .rc, .rb {border-left: .1em solid black;}

.backgroundCellColor {
    background-color: purple;
}

.x {
    color: red;
}
.o {
    color: blue;
}

.howTo {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.goBack {
    width: 100%;
    position: absolute; 
    bottom:4em; 
}

.timer {
    float: left;
}

#gameboard {
    width: 19.2em;
    margin: 2em auto;
    overflow: hidden;
    border-radius: 2em;
}

#timerclock {
    height: 30em;
    width: 30em;
    color: white;
}