body {
    background-color: gray;
}

h1 {
    text-align: center;
    margin: auto;
    font-family: Garamond;
    font-size: 7em;
    color: black;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 2em;
    color: black;
}

.cell {
    float: left;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    background-color: grey;
    font-size: 6em;
    text-transform: uppercase;
}

.row {
    clear: both;
}

.lt, .mt, .rt, .lc, .mc, .rc {border-bottom: .1em solid black;}
.mt, .mc, .mb, .rt, .rc, .rb {border-left: .1em solid black;}

.x {
    color: red;
}
.o {
    color: blue;
}

#gameboard {
    width: 19.2em;
    margin: 2em auto;
    overflow: hidden;
    border-radius: 2em;
}