<div id="gameboard">
  <div class="row">
    <div id="cell1" class="cell lt {{cells[0]}}" data-mouse="" data-ng-click="handleClick(1)">{{cells[0]}}</div>
    <div id="cell2" class="cell mt {{cells[1]}}" data-mouse="" data-ng-click="handleClick(2)">{{cells[1]}}</div>
    <div id="cell3" class="cell rt {{cells[2]}}" data-mouse="" data-ng-click="handleClick(3)">{{cells[2]}}</div>
  </div>

  <div class="row">
    <div id="cell4" class="cell lc {{cells[3]}}" data-mouse="" data-ng-click="handleClick(4)">{{cells[3]}}</div>
    <div id="cell5" class="cell mc {{cells[4]}}" data-mouse="" data-ng-click="handleClick(5)">{{cells[4]}}</div>
    <div id="cell6" class="cell rc {{cells[5]}}" data-mouse="" data-ng-click="handleClick(6)">{{cells[5]}}</div>
  </div>

  <div class="row">
    <div id="cell7" class="cell lb {{cells[6]}}" data-mouse="" data-ng-click="handleClick(7)">{{cells[6]}}</div>
    <div id="cell8" class="cell mb {{cells[7]}}" data-mouse="" data-ng-click="handleClick(8)">{{cells[7]}}</div>
    <div id="cell9" class="cell rb {{cells[8]}}" data-mouse="" data-ng-click="handleClick(9)">{{cells[8]}}</div>
  </div>
</div>

<div>Number of Wins: {{numberOfWins}}</div>

<div>{{minutes}}:{{seconds}}</div>

      <button data-ng-click="startTimer">Start</button>
      <button data-ng-click="stopTimer">Stop</button>
      <button data-ng-click="restartTimer">Restart</button>